{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        @media (max-width: 576px) {
            #instructions {
                width: 95%;
                margin: 12px auto;
                font-size: 1.2rem;
            }
        }
        @media (min-width: 576px) and (max-width: 800px) {
            #instructions {
                width: 80%;
                margin: 150px auto 50px auto;
                font-size: 1.4rem;
            }
        }
        @media (min-width: 800px) {
            #instructions {
                width: 90%;
                font-size: 1.5rem;
                margin-top: 150px;
                margin-bottom: 75px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container">
    <div class="text-left" id="instructions">
        <p class="text-center">Welcome!</p>

        <p>Please rate how much you crave each food right now on a scale of 0
            (“no craving”) to 100 ("maximum craving”).</p>

        <p>Press “Next” to move on to the next image.</p>

        <p>Press “Start” when you are ready to begin.</p>
    </div>
    <div class="row justify-content-center">
    <form method="POST">
        {{ csrf_token }}
        <button type="submit" value="Download"
                class="btn btn-outline-black btn-lg">
            Start<i class="fa fa-sign-in ml-2"></i>
        </button>
    </form>
    </div>
    </div>
{% endblock %}