{% extends "navbar.html" %}
{% block main %}
    <form method="POST" style="margin-top: 5rem;">

        {{ form.csrf_token }}
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                {{ label }}
            </div>
                <div class="row justify-content-center">
                {{ form.number(class="text-center w-25") }}
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 3rem;">
                <button type="submit" value="Download"
                        class="btn btn-outline-black">
                    Next<i class="fa fa-arrow-right ml-2"></i>
                </button>
        </div>
    </form>
{% endblock %}