{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {#    <link href="{{ url_for('static', filename='css/style-navbar.css') }}"#}
    {#          rel="stylesheet">#}
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-dark black justify-content-between">
        <a class="navbar-brand" href="{{ url_for("index") }}">Food
            Craving Survey</a>
        <a href="{{ url_for("input_participant") }}"
           onclick="">Start</a>
        <a class="white-text" href="{{ url_for("download") }}">Download Data</a>
    </nav>
{% endblock %}