{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename="css/nouislider.min.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename="css/slider.css") }}">
    <style>
    #next-btn {
        margin-top: 65px;
    }
    </style>
{% endblock %}
{% block main %}
    <div>
        <p>How much do you crave for this food?</p>
        <img class="img-fluid" src="/static/images/{{ filename }}">
    </div>
{% endblock %}
{% block slider %}
    <form method="POST" style="margin-top: 75px;">
        {{ form.csrf_token }}
        <div id="range"></div>
        <div class="row justify-content-center">
            <button type="submit" value="Next" id="next-btn"
                    class="btn btn-outline-black invisible">
                Next<i class="fa fa-arrow-right ml-2"></i>
            </button>
        </div>
    </form>
    <script type="text/javascript"
            src="{{ url_for('static', filename="js/nouislider.js") }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename="js/slider.js") }}">
    </script>
{% endblock %}
