[run]
branch = True
source = backend

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    unittest.main()
ignore_errors = True
omit =
    tests/*
    flask_session/*
    migrations/*
show_missing = True
