{% extends "base.html" %}
{% block body %}
    <h1>Index</h1>
    <form method="POST">
        <div class="row"></div>
        <div class="row">

                    {{ form.csrf_token }}
                    <div class="row justify-content-center">
                        {{ label }}
                        {{ form.number(class="text-center w-25") }}
                    </div>
            <div class="col-6 offset-3">
                <div class="row justify-content-center">
                    <button type="submit" value="Download"
                            class="btn btn-outline-black">
                        Next<i class="fa fa-arrow-right ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}