.noUi-value-large {
    font-size: 1em;
}
.noUi-connect {
    background: #abadaf;
}
.noUi-handle-lower:before, .noUi-handle-lower:after {
    background: none;
}
.noUi-handle-lower {
    border-radius: 100%;
    background-color: black;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.noUi-base {
    background-color: #fff;
}
.noUi-handle {
    box-shadow: none;
    border: #d9d9d9;
}
@media (max-width: 800px) {
    #range {
        width:100% !important;
        margin: 0 auto;
        padding: 0 auto;
    }
}

@media (min-width: 800px) {
    #range {
        width: 50%;
    }
}
#next-btn {
    margin-top: 65px;
}

#food-pic {
    width: 100%;
    max-width: 640px;
    height: auto;
    display:block;
    margin: 0 auto;
}
@media (max-width: 576px) {
    #food-pic {
        margin-top: 25px;
    }
}
@media (min-width: 800px) {
    #food-pic {
        max-width: 400px;
    }
}